<!--教师主页-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师主页</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body" >
    <div class="layui-layout layui-layout-admin">

        <!--头部水平导航栏-->
        <div class="layui-header">
            <!--logo,用项目名代替"学生选课系统"-->
            <div class="layui-logo" style="">学生选课系统</div>
            <!-- 头部水平导航栏左侧相关信息 -->
            <div class="layui-nav layui-layout-left">
                <li class="layui-nav-item" >
                    <a style="" href="javascript:teacher_index_reload()">首页</a>
                </li>
            </div>
            <!-- 头部水平导航栏右侧相关信息 -->
            <ul class="layui-nav layui-layout-right" >
                <!--管理员下拉菜单-->
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        [[${session.teacher.getTeacherName()}]]
                    </a>

                </li>
                <!--退出按钮-->
                <li class="layui-nav-item">
                    <a href="" th:href="@{/logout}">退出</a>
                </li>
            </ul>
        </div>

        <!--侧边导航栏-->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                    <!--选课-->
                    <li class="layui-nav-item layui-nav-itemed"><!--<th:href="@{student/select}" -->
                        <a class="" href="javascript:load_grade_input()" >成绩录入</a>
                    </li>
                    <!--课表-->
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:load_teacher_schedules()" >教师课表</a>
                    </li>
                    <!--信息-->
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:load_teacher_information()" >教师信息</a>
                    </li>

                </ul>
            </div>
        </div>

        <!--右侧主体内容-->
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;" id="teacher_index_body">
                <!-- 内容主体区域 -->

            </div>
        </div>

        <!--定义文档或文档部分区域的页脚-->
        <div class="layui-footer" style="text-align: center">
            <!-- 底部固定区域 -->
            © sdnu.com
        </div>
    </div>
    <script src="../../layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;

        });
        function teacher_index_reload() {
            window.location.reload()
        }

        <!--==================================利用javascript动态加载页面=============================-->
        <!--加载教师选课页面-->
        function load_grade_input() {
            document.getElementById("teacher_index_body").innerHTML = '<object type="text/html" data="gradeinput.html" ' +
                'width="100%" height="800px"></object>';}
        <!--加载教师课表页面-->
        function load_teacher_schedules() {
            document.getElementById("teacher_index_body").innerHTML = '<object type="text/html" data="teacher/schedules" ' +
                'width="100%" height="800px"></object>';}
        <!--加载教师信息页面-->
        function load_teacher_information() {
            document.getElementById("teacher_index_body").innerHTML = '<object type="text/html" data="teacher/information" ' +
                'width="100%" height="800px"></object>';}

    </script>
</body>